@model IEnumerable<Last_Irmc_Domain.mon_video>

@{
    ViewBag.Title = "listVideo2";
}

<h2>listVideo2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
       
        
    </tr>

@foreach (var item in ViewBag.result) {
    <tr>
     >
       
        <td>
            @item.description
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
